<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title>서울 맑음 -  코드포서울</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=medium-dpi">
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
</head>
<body id="seoul-03">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="javascript:history.back()" class="navbar-toggle">
                    <i class="fa fa-angle-left fa-lg"></i> 이전
                </a>
                <a class="navbar-brand navbar-brand-centered" href="{{ url_for('client.home') }}"><img src="{{ url_for('static', filename='assets/img/logo.png') }}" class=""></a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

        <p class="lead">
            {{ project.name }}
        </p>

        <div class="panel panel-default past-weather">
            <div class="panel-heading">지난평가 현황</div>

            <div class="panel-body">
                <div id="carousel-weather-list" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="row item">
                            <div class="col-xs-3 weather">
                                <a href="">
                                    <p><img src="{{ url_for('static', filename='assets/img/weather-02.png') }}"></p>
                                    <p>6/1</p>
                                </a>
                            </div>
                            <div class="col-xs-3 weather">
                                <a href="">
                                    <p><img src="{{ url_for('static', filename='assets/img/weather-02.png') }}"></p>
                                    <p>6/15</p>
                                </a>
                            </div>
                            <div class="col-xs-3 weather">
                                <a href="">
                                    <p><img src="{{ url_for('static', filename='assets/img/weather-04.png') }}"></p>
                                    <p>7/1</p>
                                </a>
                            </div>
                            <div class="col-xs-3 weather">
                                <a href="">
                                    <p><img src="{{ url_for('static', filename='assets/img/weather-03.png') }}"></p>
                                    <p>7/15</p>
                                </a>
                            </div>


                        </div>
                        <div class="row item active">
                            <div class="col-xs-3 weather">
                                <a href="">
                                    <p><img src="{{ url_for('static', filename='assets/img/weather-02.png') }}"></p>
                                    <p>8/1</p>
                                </a>
                            </div>
                            <div class="col-xs-3 weather active">
                                <a href="">
                                    <p><img src="{{ url_for('static', filename='assets/img/weather-02.png') }}"></p>
                                    <p>8/15</p>
                                </a>
                            </div>
                            <div class="col-xs-3 weather">
                                <a href="">
                                    <p><img src="{{ url_for('static', filename='assets/img/weather-04.png') }}"></p>
                                    <p>9/1</p>
                                </a>
                            </div>
                            <div class="col-xs-3 weather">
                                <a href="">
                                    <p><img src="{{ url_for('static', filename='assets/img/weather-03.png') }}"></p>
                                    <p>9/15</p>
                                </a>
                            </div>


                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-weather-list" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-weather-list" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>                
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">{{ current_user.name }} 위원님의 한마디</h4>
                    <p class="list-group-item-text">현재 프로젝트 진행이 매우 더딥니다. 시장님의 한마디가 필요해요</p>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">담당관(장승훈)의 답변</h4>
                    <p class="list-group-item-text">현재 시장님과 회의를 진행하였습니다.피드백이 있을 예정입니다.감사합니다.</p>
                </li>
            </ul>
        </div>

        <div class="btn-group btn-group-lg seoul-buttons">
            <a href="view.html" class="btn btn-default">현재평가</a>
            <a href="list.html" class="btn btn-primary active">지난평가</a>
        </div>

    </div>


    {% include "client/committee/footer.html" %}

<script src="{{ url_for('static', filename='assets/js/jquery-2.0.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugin/bootstrap-customize/3.2.0/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>



</body>
</html>