<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title>서울 맑음 -  코드포서울</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=medium-dpi">
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link href="{{ url_for('static', filename='assets/plugin/bootstrap-customize/3.2.0/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
</head>


<body id="seoul-01">

    <header>
        <h1 class="logo">
            <a href=""><img src="{{ url_for('static', filename='assets/img/logo.png') }}" class=""></a>
        </h1>
    </header>

    <div class="container">

        <form role="login" class="login" id="loginForm" method="POST"  action="/">
            <span class="wonson-01"><img src="{{ url_for('static', filename='assets/img/wonson-01.png') }}"></span>
            {{ form.hidden_tag() }}
            <div class="form-group">
              {{ form.username(placeholder="아이디", class_="form-control input-lg") }}
                <!-- <label class="sr-only">name</label>
                <input type="name" class="form-control input-lg" placeholder="아이디" autofocus required> -->
            </div>
            <div class="form-group">
       <!--          <label class="sr-only">phone</label>
                <input type="password" class="form-control input-lg" placeholder="패스워드" required> -->
              {{ form.password(placeholder="패스워드", class_="form-control input-lg") }}

                 <!--<p class="form-control-static seoul-guide">
                    <small>
                    서울 시정 평가를 위해서는 휴대폰 번호와 성명으로 인증이 필요합니다.
                    휴대폰번호는 - 없이 숫자만 입력해 주시기 바랍니다.
                    </small>
                 </p>-->
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">인증하기</button>
        </form>    
    </div>





  {% include "client/__footer.html" %}

<script src="{{ url_for('static', filename='assets/js/jquery-2.0.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugin/bootstrap-customize/3.2.0/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>

</body>
</html>