<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title>서울 맑음 -  코드포서울</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,target-densitydpi=medium-dpi">
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
</head>
<body id="seoul-02">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="index.html" class="navbar-toggle">
                    <i class="fa fa-sign-out fa-lg"></i>
                </a>
                <a class="navbar-brand navbar-brand-centered" href="{{ url_for('client.home') }}"><img src="{{ url_for('static', filename='assets/img/logo.png') }}" class=""></a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

<div class="btn-group" role="group" aria-label="..." width="100%">
  <button type="button" class="btn btn-default active">전체</button>
  <button type="button" class="btn btn-default">부서별</button>
</div>

<br/><br/>

<div class="list-group">
  <a href="#" class="list-group-item">어린이 놀이터 혁신 사업</a>
  <a href="#" class="list-group-item">어린이 놀이터 혁신 사업</a>
  <a href="#" class="list-group-item">어린이 놀이터 혁신 사업</a>
  <a href="#" class="list-group-item">어린이 놀이터 혁신 사업</a>
  <a href="#" class="list-group-item">어린이 놀이터 혁신 사업</a>
</div>
     
<br/><br/>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default active">천둥</button>
  <button type="button" class="btn btn-default">흐림</button>
  <button type="button" class="btn btn-default">구름</button>
  <button type="button" class="btn btn-default">맑음</button>

</div>

    {% include "client/__footer.html" %}

<script src="{{ url_for('static', filename='assets/js/jquery-2.0.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugin/bootstrap-customize/3.2.0/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>


</body>
</html>