
{% extends "layout.html" %}
{% block content %}
    <h1>Welcome {{ session.username }}</h1>
    <h2>{{ project.name }}</h2>
    <ul>
    	<li>ID : {{ project.id }}</li>
    	<li>Name : {{ project.name }}</li>
    	<li>Start Date : {{ project.start_date }}</li>
    	<li>End Date: {{ project.end_date }}</li>
    	<li>Description: {{ project.description }}</li>
    	<li>Create Date: {{ project.created_at }}</li>
    	<li>Create User: {{ project.created_user_id }}</li>
    	<li>modified_at: {{ project.modified_at }}</li>
    	<li>modified_user_id: {{ project.user_id }}</li>
    	<li>Display: {{ project.display_yn }}</li>

    </ul>
{% endblock %}
