    <!-- jQuery -->
    <script src="{{ url_for('static', filename='admin/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='admin/js/bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static', filename='admin/js/plugins/metisMenu/metisMenu.min.js') }}"></script>

    <!-- Morris Charts JavaScript -->
<!--     // <script src="{{ url_for('static', filename='admin/js/plugins/morris/raphael.min.js') }}"></script>
    // <script src="{{ url_for('static', filename='admin/js/plugins/morris/morris.min.js') }}"></script>
    // <script src="{{ url_for('static', filename='admin/js/plugins/morris/morris-data.js') }}"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='admin/js/sb-admin-2.js') }}"></script>  